<!DOCTYPE html>
<html lang="en">
<head>
    <title>Static Assets Tutorial</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>
<body>
    <h1>Hello, Static World!</h1>
    <p>Halaman ini sekarang terlihat lebih cantik karena menggunakan <b>CSS</b>.</p>
    <p>Background berubah warna dan font lebih rapi.</p>
</body>
</html>