<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tutorial Jinja2</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>Website ini sekarang menggunakan engine template <b>{{ framework }}</b>.</p>
    <p>Sintaksnya menggunakan kurung kurawal ganda.</p>
</body>
</html>