body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e0f7fa; /* Warna biru muda */
    padding: 2em;
}

h1 {
    color: #006064; /* Warna biru tua */
    border-bottom: 2px solid #006064;
    padding-bottom: 10px;
}

p {
    font-size: 1.2em;
}